@model string
@{
    ViewBag.Title = "SearchOnScholar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "getDataList"
    };
}

<br>
<br>
<br>

@using (Ajax.BeginForm("SearchOnScholarResult", ajaxOptions))
{
    <div class="row">
        <div class="input-group">
            <input type="text" id="Query" name="Query" class="form-control" placeholder="Поиск на Google.Scholar">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Поиск</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    <span class="glyphicon glyphicon-plus"></span>
                    <label> Точный поиск</label>
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="item">
                        Количество статей
                        <input type="number" id="Number" name="Number" class="form-group" placeholder="Количество статей">
                    </div>
                    <div class="item">
                        Статьи, в которых встречается точное словосочетание
                        <input type="text" id="ExactPhrase" name="ExactPhrase" class="form-group" placeholder="Словосочетание">
                    </div>
                    <div class="item">
                        Статьи, в к которых нет слов
                        <input type="text" id="AllWords" name="Without" class="Without" placeholder="Нет слов">
                    </div>
                    <div class="item">
                        Опубликованы в
                        <input type="text" id="Published" name="Published" class="form-group" placeholder="Место публикации">
                    </div>
                    <div class="item">
                        Авторы
                        <input type="text" id="Author" name="Author" class="form-group" placeholder="Авторы">
                    </div>
                    <div class="item">
                        Опубликованы в период
                        <input type="number" id="DateStart" name="DateStart" class="form-group" placeholder="Начало" style="width: 100px">
                        <input type="number" id="DateEnd" name="DateEnd" class="form-group" placeholder="Конец" style="width: 100px">
                    </div>
                    <label>Искать сопадения</label>
                    <div class="item">
                        <input checked="checked" id="Head" name="Head" type="radio" value="false" /> Везде в статье
                    </div>
                    <div class="item">
                        <input id="Head" name="Head" type="radio" value="true" /> Только в заголовке
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<form id="getDataList"></form>
