@model string
@{
    ViewBag.Title = "SearchOnScholar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "getDataList"
    };
}

<br>
<br>
<br>

@using (Ajax.BeginForm("GetSearchOnScholar", ajaxOptions))
{
    <div class="input-group">
        <input type="text" id="Query" name="Query" class="form-control" placeholder="Поиск на Google.Scholar">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Поиск</button>
        </span>
    </div>
}

<form id="getDataList">
    @Html.Action("GetSearchOnScholar", "Scholar", Model)
</form>