@model List<BootApp.Models.Article>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
        </tr>
    </thead>
    @foreach (var g in Model)
    {
        <tbody>
            <tr>
                <td>@g.title</td>
                <td><a href="/Home/Details/@g.ArticleId">Подробнее..</a></td>
            </tr>
        </tbody>
    }
</table>