@model List<BootApp.Models.Group>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Страница группы</th>
        </tr>
    </thead>
    @foreach (var g in Model)
    {
        <tbody>
            <tr>
                <td>@g.GroupName</td>
                <td><a href="/Home/GroupPage/@g.GroupId">Подробнее..</a></td>
            </tr>
        </tbody>
    }
</table>