@model BibliographicSystem.Models.LogOnModel
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-horizontal" method="post">
                <h2 class="form-signin-heading">Вход в систему</h2>
                <label for="Username" class="sr-only">Username</label>
                <input type="text" id="Username" name="Username" class="form-control" placeholder="Username" required autofocus>
                <label for="Password" class="sr-only">Password</label>
                <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="RememberMe"> Запомнить
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Вход в систему</button>
            </form>
        </div> <!-- col -->
    </div> <!-- row -->

</div> <!--container-->