@model BootApp.Models.ListsOfStuff
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-3"><h2>Моя страница</h2></div>
        <div class="col-md-2">
            <a href="/Home/GetBibFile1/@User.Identity.Name">Скачать библиографию</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><h4>Мои группы</h4></div>
        <div class="col-md-6"><h4>Мои документы</h4></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("UserGroupList", Model.GroupsByUserName(User.Identity.Name))
        </div>
        <div class="col-md-6">@Html.Partial("UserArticles", Model.ArticlesByUser(User.Identity.Name))</div>
    </div>
    <!--<div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button class="btn-primary btn" name="Download" onclick="">Скачать библиографию</button>
            
</div>
        </div-->
    </div>