@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br />
<br />

<div class="row">
    <div class="col-md-10">
        <div class="row">
            <h3>Контакты: </h3>
            <p>
                Наш проект на <a href="https://github.com/yurii-litvinov/Biblio2015">GitHub</a>
            </p>
        </div>

        <div class="row">
            В реальном мире:
            <br>
            Математико-Механический факультет, СПбГУ
        </div>

        <div class="row">
            <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2002.1437577600548!2d29.828403315694885!3d59.87996267379312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696413a90b387af%3A0x2ab0f671a7a98cec!2z0KPQvdC40LLQtdGA0YHQuNGC0LXRgtGB0LrQuNC5INC_0YAuLCAyOCwg0J_QtdGC0LXRgNCz0L7RhCwg0LMuINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTg1MDQ!5e0!3m2!1sru!2sru!4v1478697419805" width="400" height="300" frameborder="0" style="border: 0" allowfullscreen></iframe>
            </p>
        </div>
    </div>
</div>
