@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br />
<br/>

<div class="row">
    <div class="col-md-10">
        <div class="row">
                <h3>Добро пожаловать!</h3>
                <p>
                    Это библиографический сайт, который позволяет искать и скачивать нужные вам книги, статьи.
                    Для зарегистрированных пользователей есть возможность загружать свои материалы на сайт,
                    вступать в исследовательские группы, создавать свои такие группы.
                </p>
        </div>
        <div class="row">
            <p>Для начала полноценной работы, пожалуйста, <a href="/Account/SignIn">зарегистрируйтесь</a></p>
        </div>
    </div>
</div>
