@model BootApp.Models.AddingClass
@{
    ViewBag.Title = "AddArticleToGroup";
}

<br />
<br />
<br />

<h2>Статьи доступные для добавления*</h2>
<h5>*Только ваши статьи, которые не содержатся в других группах</h5>
<a href="/Home/GroupPage/@Model.GroupId">Вернуться в группу</a>

 <table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Добавить</th>
        </tr>
    </thead>
    @foreach (var g in Model.ArticlesToAdd())
    {
        <tbody>
            <tr>
                <td>@g.title</td>
                <td><a href="/Home/Details/@g.ArticleId">Подробнее..</a></td>
                <td>
                    <form class="form-horizontal" method="post" style="border:hidden">
                        <textarea class="sr-only" name="idGroup">@Model.GroupId</textarea>
                        <textarea class="sr-only" name="idArticle">@g.ArticleId</textarea>
                        <button class="btn btn-primary" name="@g.ArticleId" type="submit">Добавить</button>
                    </form>
                </td>
            </tr>
        </tbody>
    }
</table>