@{
    ViewBag.Title = "CreateGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
@if (Request.IsAuthenticated)
{
    <div class="container">
        <div class="row"> <div class="col-md-6"><h2>Здравствуйте, @User.Identity.Name! </h2> </div></div>
        <div class="row">
            <div class="col-md-6">
                <h3>Форма создания группы</h3>
                    <form class="form-horizontal" method="post">
                    <input type="text" name="GroupName" class="form-control" placeholder="Название" /> <br />
                    <input type="text" name="Theme" class="form-control" placeholder="Тематика" /><br />

                    <button class="btn btn-primary" type="submit" name="Submit" id="SubmitSingle" value="Upload">
                        Создать
                    </button>
                        </form>
            </div>
        </div>
    </div>

}
else
{
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3"><button class="btn btn-lg btn-primary btn-block" type="submit" onclick="location.href='/Account/SignIn'">Sign in</button></div>
            <div class="col-md-2"></div>
            <div class="col-md-3"><button class="btn btn-lg btn-primary btn-block" type="submit" onclick="location.href='/Account/LogIn'">Log in</button></div>
        </div>
    </div>
}
