@model string
@{
    ViewBag.Title = "SearchOnScholar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "getDataList"
    };
}

<br>
<br>
<br>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchOnMicrosoftAcademic</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
