@using BibliographicSystem.Models
@model List<Article>

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4>Здесь нет того, что вы ищите?</h4>
            <a href="/Home/MainPage"><p>Попробуйте снова</p></a>
        </div>
    </div>
    @if(Model.Count > 0)
    { 
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Автор</th>
                        <th>Год</th>
                        <th>Подробнее</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                @foreach (Article b in Model)
                {
                    <tbody>
                        <tr>
                            <td><p>@b.Title</p></td>
                            <td><p>@b.Author</p></td>
                            <td><p>@b.Year</p></td>
                            <td><a href="/Home/Details/@b.ArticleId">Подробнее..</a></td>
                            <td><textarea class="form-control" rows="3" readonly style="border-color:white; background-color:white">@b.Note</textarea></td>
                            <!--<td><p><a href="/Home/Buy/b.Id">Купить</a></p></td-->
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
    }
</div>
