@if (Request.IsAuthenticated)
{
    <text> 
<ul>
    <li> @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Управление" })!</li>
   <li> @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a> }
    </li>
</ul>
    </text>
}
else
{
    <li>@Html.ActionLink("Регистрация", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Выполнить вход", "LogIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}

